.foot {
  background-color: #cdcdcd;
  h6 {
    text-align: center;
    margin-top: 10px;
  }
}

.ico {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
  }
}

.info p {
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  margin-top: 5px;
  margin-bottom: 15px;
}
.hora p {
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  margin-top: 5px;
  margin-bottom: 15px;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
}

// mapa

$red-soc: (
  twitter: #339be0,
  facebook: #1313de,
  instagram: #ab3ef4,
  youtube: #f11919,
);

@each $red, $color in $red-soc {
  .red-#{$red} {
    color: $color;
  }
}
