.foot {
  background-color: #cdcdcd;
  h6 {
    text-align: center;
    margin-top: 10px;
  }
}

.ico li {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
}

.info p {
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  margin-top: 5px;
  margin-bottom: 15px;
}
.hora p {
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  margin-top: 5px;
  margin-bottom: 15px;
}

.pay img {
  height: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
}
