//font-family: 'Noto Sans Display', sans-serif; - font-family: 'Roboto', sans-serif;

//page inicio
.inicio {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}
.cont-iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// page serv. tec.
.video-pc {
  width: 100%;
  height: auto;
}
.video {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serv-tec {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}
.serv-ul {
  list-style: none;
  text-align: center;
  li {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 15px;
  }
}
// page contacto
.title-2 {
  h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 20px;
  }
}
.contact {
  p {
    text-align: center;
  }
}
//page como llegar
.cont-iframe-maps {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// page producto
.card-prod {
  padding: 16px;
}
.img-prod {
  text-align: center;
  img {
    width: 80%;
    height: auto;
  }
}

.botton {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.botton-1 {
  border-radius: 15px;
  padding: 8px 16px;
  margin: 8px;
  background-color: #ecd13acd;
}
